.container
  max-width: 1140px
.selection
  background: url('/img/header_bg.png') center (center / cover) no-repeat
  min-height: 650px
  padding-top: 21px
  color: white
  .header
    display: flex
    padding-right: 0
    padding-left: 0
    &_logo>img      
      width: 251px
      height: 45px      
    &_representatives
      text-align: center
      &_title
        font-size: 12px
        line-height: 12px
        font-weight: 500
      &_descr
        font-size: 18px
        font-weight: 500
        margin-top: 7px
    &_call
      display: flex
      flex-wrap: wrap
      justify-content: end
      &_number
        font-size: 18px
        font-weight: 700
      &_btn
        color: white
        background-color: $red
        width: 153px
        height: 32px
        border-radius: 5px
        border: none
        font-size: 12px
        font-weight: 500
        text-transform: uppercase
  &_title
    margin-top: 91px
    font-size: 42px
    line-height: 42px
    font-weight: 700
    text-transform: uppercase
    text-align: right
    padding-right: 0
  &_subtitle
    margin-top: 17px
    font-size: 24px
    line-height: 24px
    font-weight: 500
    text-transform: uppercase
    text-align: right
    padding-right: 0
  &_icons
    margin-top: 60px
    display: flex
    justify-content: space-between
    height: 96px
    padding-right: 0
    &_block
      display: flex
      flex-direction: column
      align-items: center
    &_descr
      margin-top: 20px
      text-align: center
      font-size: 14px
      line-height: 14px
      font-weight: 500
      width: 136px
  &_order
    margin-top: 65px
    padding-right: 0
    display: flex
    flex-wrap: wrap
    justify-content: end
    &_btn
      color: white
      background-color: $red
      width: 300px
      height: 50px
      border-radius: 5px
      border: none
      font-size: 16px
      font-weight: 500
      text-transform: uppercase
    &_descr
      margin-top: 8px
      font-size: 16px
      color: white
      a
        text-transform: uppercase
        color: white

.advantages
  background-color: #F6F6F6
  padding-top: 70px
  padding-bottom: 65px
  &_title
    font-size: 30px
    line-height: 30px
    font-weight: 700
    text-align: center
    color: $black
  &_icon
    display: flex
    justify-content: center
    img
      height: 70px
      width: 70px
  &_block
    margin-top: 60px
    text-align: center
  &_subtitle
    margin-top: 35px
    text-align: center
    font-size: 18px
    font-weight: 700
    color: $black
  &_descr
    margin-top: 20px
    text-align: center
    font-size: 14px
    line-height: 18px
    font-weight: 300
    color: $black
    a
      color: #FF0000

.consult
    background: url('/img/consult_bg.png') center (center / cover) no-repeat
    min-height: 680px
    padding: 108px 0 100px 0
    color: white
    .row
      flex-direction: column
    &_title
      font-size: 36px
      line-height: 54px
      font-weight: 700
      text-transform: uppercase
      padding-left: 0
      padding-right: 0
    &_subtitle
      padding-left: 0
      padding-right: 0
      margin-top: 36px
      margin-bottom: 8px
      font-size: 20px
      line-height: 30px
      font-weight: 500
    input
      padding-left: 21px
      padding-right: 0
      margin-top: 12px
      color: #4B4B4B
      width: 300px
      height: 50px
      border-radius: 5px
      border: none
      font-size: 14px
      font-weight: 400
    &_btn
      padding-left: 0
      padding-right: 0
      margin-top: 17px
      color: white
      background-color: $red
      width: 300px
      height: 50px
      border-radius: 5px
      border: none
      font-size: 16px
      font-weight: 500
      text-transform: uppercase
  




      
    